# This .gitignore is appropriate for repositories deployed to GitHub Pages and using
certs
keys
retired
**/cf-token
**/.toml
**/.env
.env
.env.*
*cf_secret*
*_secret*
*.pem
*_rsa
*.pub
*_rsa.pub
id_ed25519*
*.key
secrets.yml
vault_pass*
crowdsec-prod-3/.env
immich-prod-1/.env
homepage-prod-1/.env
apprise-prod-1/config/config2.yml
apprise-prod-1/config/config.yml
grafana-monitoring-prod-1/.env
grafana-monitoring-prod-1/prometheus/config/alertmanager.yml
grafana-monitoring-prod-1/pve/pve.yml
grafana-monitoring-prod-1/telegraf/telegraf.conf
certs/auth.kane.mk/ca-key.pem
certs/cyborg.kane.mk/ca-key.pem
certs/auth.kane.mk/server-key.pem
certs/auth.kane.mk/key.pem
certs/cyborg.kane.mk/key.pem
certs/cyborg.kane.mk/server-key.pem
certs/docker-ceph.kane.mk/key.pem
certs/minidocker.kane.mk/ca-key.pem
certs/kaneserver.kane.mk/ca-key.pem
certs/kaneserver.kane.mk/server-key.pem
certs/docker-dev.kane.mk/key.pem
certs/kaneserver.kane.mk/key.pem
certs/mkserver.kane.mk/key.pem
certs/minidocker.kane.mk/key.pem
certs/mkserver.kane.mk/ca-key.pem
certs/minidocker.kane.mk/server-key.pem
certs/mkserver.kane.mk/server-key.pem
certs/murdognas.kane.mk/2025/key.pem
certs/murdognas.kane.mk/key.pem
certs/murdognas.kane.mk/orig/server-key.pem
certs/murdognas.kane.mk/orig/ca-key.pem
certs/murdognas.kane.mk/orig/key.pem
certs/raptor.kane.mk/ca-key.pem
certs/raptor.kane.mk/server-key.pem
certs/netbird.kane.mk/key.pem
certs/utilserver.kane.mk/ca-key.pem
certs/utilserver.kane.mk/key.pem
certs/raptor.kane.mk/key.pem
certs/utilserver.kane.mk/server-key.pem
keys/utilserver/authentik
infisical/.env
kubernetes-prod-1/Traefik-PiHole/Helm/Traefik/Cert-Manager/Issuers/secret-cf-token.yaml
kubernetes-prod-1/Traefik-PiHole/Helm/Traefik/Dashboard/secret-dashboard.yaml
kubernetes-prod-1/cert-manager/certmanager-issuer-secret.yml
kubernetes-prod-1/traefik/traefik-dashboard-auth.yml
kubernetes-prod-1/traefik/traefik-config.yml
mailrise-prod-1/config/mailrise.conf
kuma-prod-1/infisical/.env
navidrome-prod-1/.env
newt-prod-1/.env
newt-prod-2/.env
pangolin-prod-1/.env
nextcloud-prod-1/docker-compose.yml
pangolin-prod-1/config/crowdsec/online_api_credentials.yaml
pangolin-prod-1/config/crowdsec/local_api_credentials.yaml
pangolin-prod-1/config/traefik/dynamic_config.yml
paperless-prod-1/paperless-ai/.env
paperless-prod-1/paperless/.env
paperless-prod-1/paperless-gpt/.env
linkwarden-prod-1/.env
key
mailrise-prod-1/config/mailrise.yml
pangolin-prod-1/config/config.yml
scanopy-prod-1/oidc.toml
security-dev-1/.env
semaphore-prod-1/.env
semaphore-prod-1/config/config.json
torrenting-prod-1/.env
torrenting-prod-1/recyclarr/config/secrets.yml
torrenting-prod-1/recyclarr/secrets.yml
traefik-prod-1/.env
traefik-prod-3/.env
traefik-prod-4/.env
traefik-prod-5/.env
traefik-prod-6/.env
traefik-prod-7/.env
traefik-prod-8/.env
vaultwarden-prod-1/.env
vaultwarden-prod-1/OAuth 2.0 Client Credentials.0 Client Credentials.0 Client Credentials
*.bak
*.save
*_backup
*.orig
acme.json
wg*.conf
torrenting-prod-1/qbittorrent/config/wireguard/wg0.conf_backup
traefik-prod-1/data/acme.json.save
infisical-dev-1/.env
infisical-prod-1/.env
**/01-special-init.sql
