# This .gitignore is appropriate for repositories deployed to GitHub Pages and using
certs
keys
retired
**/cf-token
**/.toml
**/.env
.env
.env.*
*cf_secret*
*_secret*
*.pem
*_rsa
*.pub
*_rsa.pub
id_ed25519*
*.key
secrets.yml
vault_pass*
crowdsec-prod-3/.env
immich/.env
homepage-prod-1/.env
apprise-prod-1/config/config2.yml
apprise-prod-1/config/config.yml
grafana-monitoring/.env
grafana-monitoring/prometheus/config/alertmanager.yml
grafana-monitoring/pve/pve.yml
grafana-monitoring/telegraf/telegraf.conf
certs/auth.kane.mk/ca-key.pem
certs/cyborg.kane.mk/ca-key.pem
certs/auth.kane.mk/server-key.pem
certs/auth.kane.mk/key.pem
certs/cyborg.kane.mk/key.pem
certs/cyborg.kane.mk/server-key.pem
certs/docker-ceph.kane.mk/key.pem
certs/minidocker.kane.mk/ca-key.pem
certs/kaneserver.kane.mk/ca-key.pem
certs/kaneserver.kane.mk/server-key.pem
certs/docker-dev.kane.mk/key.pem
certs/kaneserver.kane.mk/key.pem
certs/mkserver.kane.mk/key.pem
certs/minidocker.kane.mk/key.pem
certs/mkserver.kane.mk/ca-key.pem
certs/minidocker.kane.mk/server-key.pem
certs/mkserver.kane.mk/server-key.pem
certs/murdognas.kane.mk/2025/key.pem
certs/murdognas.kane.mk/key.pem
certs/murdognas.kane.mk/orig/server-key.pem
certs/murdognas.kane.mk/orig/ca-key.pem
certs/murdognas.kane.mk/orig/key.pem
certs/raptor.kane.mk/ca-key.pem
certs/raptor.kane.mk/server-key.pem
certs/netbird.kane.mk/key.pem
certs/utilserver.kane.mk/ca-key.pem
certs/utilserver.kane.mk/key.pem
certs/raptor.kane.mk/key.pem
certs/utilserver.kane.mk/server-key.pem
keys/utilserver/authentik
infisical/.env
kubernetes/Traefik-PiHole/Helm/Traefik/Cert-Manager/Issuers/secret-cf-token.yaml
kubernetes/Traefik-PiHole/Helm/Traefik/Dashboard/secret-dashboard.yaml
kubernetes/cert-manager/certmanager-issuer-secret.yml
kubernetes/traefik/traefik-dashboard-auth.yml
kubernetes/traefik/traefik-config.yml
mailrise-prod-1/config/mailrise.conf
kuma-prod-1/infisical/.env
navidrome-prod-1/.env
newt-prod-1/.env
newt-prod-2/.env
pangolin/.env
nextcloud-prod-1/docker-compose.yml
pangolin/config/crowdsec/online_api_credentials.yaml
pangolin/config/crowdsec/local_api_credentials.yaml
pangolin/config/traefik/dynamic_config.yml
paperless/paperless-ai/.env
paperless/paperless/.env
paperless/paperless-gpt/.env
pia-media/recyclarr/config/secrets.yml
linkwarden-prod-1/.env
key
mailrise-prod-1/config/mailrise.yml
pangolin/config/config.yml
