# This .gitignore is appropriate for repositories deployed to GitHub Pages and using
certs
retired
**/cf-token
**/.toml
**/.env
.env
.env.*
*cf_secret*
*_secret*
*.pem
*_rsa
*_rsa.pub
id_ed25519*
*.key
secrets.yml
vault_pass*
crowdsec-prod-3/.env
immich/.env
homepage-prod-1/.env
apprise-prod-1/config/config2.yml
apprise-prod-1/config/config.yml
grafana-monitoring/.env
grafana-monitoring/prometheus/config/alertmanager.yml
grafana-monitoring/pve/pve.yml
grafana-monitoring/telegraf/telegraf.conf
